html, body {
	margin: 0;
	height: 100%;
}

body {
	display: flex;
	flex-direction: column;
}

header {
	background-color: red;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

main {
	background-color: green;
	overflow-y: scroll;
	flex: auto;
}

footer {
	background-color: blue;
	flex: none;
}
