html, body {
	margin: 0;
	height: 100%;
}

body {
	display: flex;
	flex-direction: column;
}

main {
	display: flex;
	flex-direction: column;
	overflow-y: hidden;
	flex: auto;
}

#subHeader {
	background-color: red;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

#subMain {
	background-color: green;
	display: flex;
	flex-direction: row;
}

#subFooter {
	background-color: blue;
}

#scroll {
	overflow-y: scroll;
}

#side {
	overflow-y: scroll;
}
